:root {
    --primary-color: #E21B70;
    --primary-neutral: #333333;
    --secondary-neutral: #707070;
    --secondary-interaction: #39434D;
    --white: #ffffff;
    --neutral-inactive: #CACACA;
    --headline-font-size: 24px;
    --h2-font-size: 14px;
    --p-font-size: 10px;
    --headline-line-height: 28px;
    --h2-line-height: 16px;
    --p-line-height: 11px;
    --headline-weight: 700;
    --h2-weight: 400;
    --h2-space: -0.015px;
    --p-space: 0.12px;
    --modal-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
  }
  
  @font-face {
    font-family: "SF Pro";
    src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/668e7017650b090063bf6ae3/original.otf?1720610839') format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro";
    src: url(./fonts/SF-Pro-Text-Light.otf) format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Arandir";
    src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/668e70162c3f1a00582545d1/original.otf?1720610838') format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Arandir";
    src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/668e701662847c0058a18f76/original.otf?1720610838') format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: "SF Pro";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .message-container {
    background: var(--white);
    border-radius: 12px;
    box-shadow: var(--modal-shadow);
    width: 327px;
    text-align: center;
    position: relative;
  }
  
  .header {
    padding: 24px 24px 24px 24px;
    position: relative;
  }
  
  .button-close {
    height: 16px;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 99;
  }
  
  .headline_container {
    display: flex;
    padding: 16px 24px 16px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  
  }
  
  .headline-text {
    font-family: "Arandir";
    font-size: var(--headline-font-size);
    font-weight: var(--headline-weight);
    font-feature-settings: 'salt' on;
  
  }
  
  .message-image img {
    width: 100%;
    height: 325.25px;
  }
  
  img {
    margin: 0;
   
    padding: 0;
  
  }
  
  .message-body {
    padding-top: 16px;
  }
  
  .body-heading {
    font-family: "SF Pro";
    font-size: var(--h2-font-size);
    font-weight: var(--h2-weight);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-space);
    padding-bottom: 16px;
  
  
  }
  .body-heading p{
   margin: 0;
  }
  .code-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .code-frame svg {
    margin-right: 8px;
  }
  
  .code-text {
    display: flex;
    align-items: center;
    font-family: "SF Pro";
    font-size: var(--code-font-size);
    font-weight: var(--headline-weight);
    color: var(--primary-neutral);
  
  }
  
  .code-text span:first-child {
    margin-right: 8px;
    font-weight: var(--h2-weight);
  }
  
  
  .body-paragraph {
    font-family: "SF Pro";
    font-size: var(--p-font-size);
    font-weight: var(--h2-weight);
    line-height: var(--p-line-height);
    letter-spacing: var(--p-space);
    color: var(--secondary-neutral);
    padding: 0px 40px;
  
  }
  
  .message-footer {
    padding: 24px 24px 32px 24px;
  }
  
  .primary-button {
    background: var(--primary-color);
    color: var(--white);
    height: 48px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.15px;
    width: 100%;
  }

  .secondary-button {
    background: var(--white);
    color: var(    --primary-neutral);
    height: 48px;
    padding: 12px 16px;
    border: 1px solid  var( --primary-neutral);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.15px;
    width: 100%;
    margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;


}


.primary-button__inline, .secondary-button__inline {
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.15px;
  flex: 1;
}

.primary-button__inline {
  background: var(--primary-color);
  color: var(--white);
  border: none;
}

.secondary-button__inline {
  background: var(--white);
  color: var(--primary-neutral);
  border: 1px solid var(--primary-neutral);
}

  .message-body p {
    margin: 0;
  
  }
  

  .slick-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .slick-prev {
    left: 24px;
  }
  
  .slick-next {
    right: 24px;
  }
  
  .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  
  }
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    transition: margin 0.3s ease;
    color: var( --neutral-inactive);
  
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    height: 8px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    transition: width 0.3s ease;
  }
  
  .slick-dots li button:before {
    content: '';
    display: block;
    height: 8px;
    background-color: var(  --secondary-neutral);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  

  .code-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.code-frame__svg {
    margin-right: 8px;
}

.code-frame__text {
    display: flex;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;                                 
    font-size: var(--code-font-size);
    font-weight: 700;
    color: var(--secondary-interaction);
    letter-spacing: -0.15px;

}

.code-frame__text span:first-child {
    margin-right: 8px;
 
}

.code-frame__voucher {
    flex: 0 0 auto;
    display: flex;
    padding: 0;
    height: 42px;
    justify-content: center;
}

.code-frame__voucher-body {
    display: flex;
    position: relative;
    background-clip: border-box;
    overflow: hidden;
    flex-direction: row;
}

.code-frame__voucher-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://braze-images.com/appboy/communication/assets/svg_assets/files/66965616c27893005894b394/original.svg?1721128469);
    background-repeat: repeat-x;
}

.code-frame__voucher-text span {
    flex: 1 1 auto;
}

.code-frame__cap {
    flex: 1 1 9px;
    height: 42px;
    width: 15px;
}

#left {
    background-image: url(https://braze-images.com/appboy/communication/assets/svg_assets/files/6696561516effc00598ec7ae/original.svg?1721128469);
}

#right {
    background-image: url(https://braze-images.com/appboy/communication/assets/svg_assets/files/669656161b758d0059cdac61/original.svg?1721128470);
}

.code-frame__text {
    padding-top: 11px;
    padding-bottom: 11px;
}

.code-frame__text:first-child {
    padding-right: 8px;
    border-right: dashed 1.5px #C5CFD1;
}

.code-frame__text:last-child {
    padding-left: 8px;
}
